/* Layout CSS */  

div.biblesupersearch_main {
    /*background-color: #222222;*/
    /*min-height: 100px;*/
    /*max-height: 1000px;*/
    height: 95%;
    max-height: 90vh;
    max-width: 1000px;
    position: relative;

    /* todo - get rid of this scrollbar?? */
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
}

div.biblesupersearch_main.bss_no_global_scrollbar {
    overflow-y: visible;
    overflow-x: visible;
    height: initial;
    max-height: initial;
}

div.biblesupersearch_main.rtl {
    direction: rtl;
}

div.biblesupersearch_main * {
    box-sizing: content-box;
}

.biblesupersearch_render_table, .biblesupersearch_render_table td table {
    font-size: inherit !important;
}

div.biblesupersearch_loading_inline {
    background-color: transparent;
}

div.biblesupersearch_left_menu {
    /*background-color: green;*/
    width: 120px;
/*    max-width: 200px;
    min-width: 120px;*/
/*    position: absolute;*/
}

div.biblesupersearch_top_menu {
    background-color: tan;
    height: 20px;
}

div.biblesupersearch_content {
    /*background-color: #D1D1D1;*/
    /*position: relative;*/
    height: 100%;
    /*min-height: 300px;*/
/*    text-align: center;*/
/*    overflow-y: auto;*/
    /*overflow-x: hidden;*/
    min-width: 100px;
}

.biblesupersearch_h5 {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.biblesupersearch_layout_button {
    cursor: pointer;
}

.biblesupersearch_top_label {
    text-align: center;
}

.biblesupersearch_results_overflow {
    /*position: relative;*/
    /*height: calc(100% + 20px);*/
    height: 100%;
}

.biblesupersearch_multiselect button {
    margin: 4px 2px 0;
}

.biblesupersearch_bible_selector {

}

.biblesupersearch_bible_selector_multi {
    margin-inline-end: 2px;
    margin-inline-start:  2px;
}

.biblesupersearch_center_element {
    margin-inline-end: auto;
    margin-inline-start: auto;
}

.biblesupersearch_error_view {
    padding: 20px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    text-align: center;
    min-width: 100px;
    max-width: 75%;
}

.biblesupersearch_error {
    width: 100%;
    height: 200px;
    border: 1px solid #aaa;
    padding: 20px;
    text-align: center;
}

.biblesupersearch_error_header {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

table.biblesupersearch_render_table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.biblesupersearch_copy_pane {

}

.biblesupersearch_copy_pane button {
    display: block;
    max-width: 100px;
    margin-inline-end: auto;
    margin-inline-start: auto;
}

.biblesupersearch_copy_pane p {
    width: 99%;
/*    min-height: 100px;
    max-height: 300px;*/
    height: 300px;
    white-space: pre-wrap;
    border: 2px inset #adadad;
    overflow-y: auto;
}

.biblesupersearch_render_table td {
    vertical-align: top;
    font-size: 1em;
}

.biblesupersearch_render_table th {
    font-size: 1em;
}

.biblesupersearch_render_table sup.ver {
    width: 20px;
    /*max-width: 20px;*/
    /*min-width: 15px;*/
    text-align: end;
    display: inline-block;
    /*vertical-align: top;*/
    margin-inline-end: 3px;
    font-size: .80em;
    float: left;
}

.biblesupersearch_render_table span.txt {
    display: inline-block;
    float: left;
}

.biblesupersearch_render_table td table {
    table-layout: fixed;
    padding: 0;
    border-spacing: 0 0;
    margin: 0;
}

.biblesupersearch_render_table td table td {
    padding: 0 2px;
}

.biblesupersearch_render_table td.txt {
    text-align: justify;
/*    text-align: start;*/
}

.biblesupersearch_render_table td.ltr, p.ltr {
    direction: ltr;
}

.biblesupersearch_render_table td.rtl, p.rtl {
    direction: rtl;
}

.bss_ltr {
    direction: ltr;
}

.bss_rtl {
    direction: rtl;
}



.biblesupersearch_render_table td table.rtl {
    margin-inline-start: auto;
}

.biblesupersearch_render_table sup {
    text-align: justify;
    font-size: .70em;
    font-weight: bold;
}

.biblesupersearch_render_table td table td.ver {
    width: 20px;
    text-align: end;
    vertical-align: top;
}

.biblesupersearch_render_table td table td.txt {

}

.biblesupersearch_render_table td.copyright_statement {
    padding: 5px;
    text-align: justify;
    font-size: 0.7rem;
}

.biblesupersearch_render_table td.copyright_statement h5 {
    font-size: 0.8rem;
    margin-top: 3px;
}

.biblesupersearch_content hr {
    margin: 20px 0;
}

.biblesupersearch_main .format_buttons {
    text-align: center;
    margin-inline-end: auto;
    margin-inline-start: auto;
}

.biblesupersearch_pager {
    margin-inline-end: auto;
    margin-inline-start: auto;
    text-align: center;
}

.biblesupersearch_main .results {
    position: relative;
}

/* Standard text formatting */
.biblesupersearch_main .results.font_serif {
    font-family: serif;
}

.biblesupersearch_main .results.font_san_serif {
    font-family: sans-serif;
}

.biblesupersearch_main .results.font_monospace {
    font-family: monospace;
}

div.biblesupersearch_dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 100000;
/*    padding: 0;*/
    background-color: rgba(0, 0, 0, 0.5); 
    /*vertical-align: middle;*/
    text-align: center;
    /*padding-top: calc(10px + 10vh);*/
    /*padding-bottom: 0;*/
}

.biblesupersearch_nav_buttons {
    margin: 15px auto 15px;
    text-align: center;
}

.biblesupersearch_render_table .html_nav_buttons {
    font-family:'Helvetica Neue','Nimbus Sans L',Arial,sans-serif;
}

.biblesupersearch_nav_buttons img {
    background-color: white;
    margin: 0 2px 0;
}

.biblesupersearch_main label {
    display: inline;
}

.biblesupersearch_main label.left_label {
    display: inline-block;
    margin-inline-end: 5px;
    text-align: end;
    min-width: 100px;
}

.biblesupersearch_main label.resp_left_label {
    display: inline-block;
    margin-inline-end: 5px;
    text-align: end;
    min-width: 100px;
    width: 98%; 
}

.biblesupersearch_main label.resp_left_label_150 { max-width: 150px; }
.biblesupersearch_main label.resp_left_label_165 { max-width: 165px; }

.biblesupersearch_main .resp_input {
    width: 98%; 
}



.biblesupersearch_pager .links a:before {
    content: ' ';
}

.biblesupersearch_pager .links a:after {
    content: ' ';
}

.biblesupersearch_pager a.current_page:hover, .biblesupersearch_pager a.disabled:hover {
    background-color: transparent;
}

.biblesupersearch_main .resp_input_200 { max-width: 200px; }
.biblesupersearch_main .resp_input_210 { max-width: 210px; }
.biblesupersearch_main .resp_input_150 { max-width: 150px; }
.biblesupersearch_main .resp_input_100 { max-width: 100px; }

@media screen and (max-width: 400px)  {
    .biblesupersearch_main label.resp_left_label {
        text-align: center;
        display: block;
        margin-inline-start: auto;
        margin-inline-end: auto;
        max-width: initial;
    }

    .biblesupersearch_main .resp_input {
        display: block;
        margin-inline-start: auto;
        margin-inline-end: auto;
        width: 60%; 
        max-width: initial;
    }
}

div.alert_dialog {
    z-index: 10000000;
}

.alert_dialog .bss_dialog_content {
    padding: 5px 10px;
}

.alert_dialog_container {
    background-color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    /*position: relative;*/
}

.hover_dialog {
/*    width: 300px; 
    height: 300px; */
    max-width: 400px;
    position: absolute;
    border: 2px solid black;
    background-color: #dddddd;
    z-index: 1000000;
    box-shadow: 10px 10px 5px #444;
    display: block;
}

.hover_dialog .inner {
    position: relative;
    z-index: 97;
    overflow: visible;
    height: auto;
}

.biblesupersearch_content {
    overflow: visible;
}

/* force any and all textareas displayed to only expand vertically */
.biblesupersearch_content textarea {
    resize: vertical;
}

.strongs_inline {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 50px;
}

@media screen and (max-width: 400px)  {
    .strongs_inline {
        padding: 0 20px;
    }
}

.strongs_inline .item:not(:first-child) {
    margin-top: 15px;
}

.strongs_inline .item .strongs_head {
    font-weight: bold;
    font-family: serif;
    margin-bottom: 20px
}

.strongs_inline .hebrew .strongs_head span {
    font-size: 20pt;
    padding-top: 5px;
}

.strongs_inline .greek .strongs_head span {
    font-size: 16pt;
    padding-top: 10px;
}

.strongs_inline .item .strongs_body {
    text-align: justify;
}

.disambiguation .item {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.disambiguation .item:not(:first-child) {
    margin-top: 20px;
}

.biblesupersearch_dialog .super_container {
/*    position: relative;*/
}

.biblesupersearch_dialog .bss_dialog_container .bss_dialog_title {
    padding: 8px;
}

.biblesupersearch_dialog .bss_dialog_title, .biblesupersearch_dialog .bss_dialog_subtitle {
    font-weight: bold;
    display: block;
}

.biblesupersearch_dialog .bss_dialog_title {
    font-size: 18px;
    line-height: 20px;
}

.biblesupersearch_dialog .bss_dialog_subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
}

.bss_dialog_container .bss_dialog_content {
    overflow-y: auto;
}

.bss_dialog_container .bss_dialog_buttons span.spacer, .hover_dialog .bss_dialog_buttons span.spacer {
    display: inline-block;
    width: 10%;
    max-width: 40px;
} 

/*.bss_dialog_container .bss_dialog_buttons button, .hover_dialog .bss_dialog_buttons button {
    display: inline-block;
    width: 10%;
    max-width: 40px;
} 
*/


.help_dialog .bss_dialog_container {
    margin: 10px;
}

.help_dialog {
    padding-top: 5px;
}

.help_dialog .bss_dialog_buttons, .hover_dialog .bss_dialog_buttons {
    /*min-height: 30px;*/
    padding: 8px 0 8px;
}

.help_dialog .list {
    vertical-align: top;
}

.help_dialog .list .col {
    padding: 0 15px;
    display: inline-block;
/*    height: 320px;*/
    overflow-y: auto;
}

.bible_sos .sos_item {
    margin-bottom: 5px;
    padding: 2px;
}

.bss_list_item:nth-child(odd) {
    background-color: #ddd;
}

.help_dialog .item:nth-child(odd) {
    background-color: #ddd;
}

.help_dialog .bss_dialog_container {
    padding-top: 2px;
}

.help_dialog.help table {
    border: 1px solid #333;
    border-spacing: 0;
    border-collapse: collapse;
}

.help_dialog.help .bss_dialog_content .link {
    margin-bottom: 10px;
}

.help_dialog.help .bss_dialog_content .col div {
    font-size: 0.9em;
}

.help_dialog.help table tr td {
    font-size: .9em;
    border: 1px solid #333;
}

.help_dialog.help table tr td {
    font-size: .8em;
    border: 1px solid #333;
}

.help_dialog.help table tr td.op {
    text-align: end;
}

.help_dialog.help table tr td.desc {
    text-align: start;
}

.bible_sos .sos_item .label {
    float: inline-start;
    display: inline-block;
    font-weight: bold;
    text-align: start;
    font-size: 0.9em;
}

.bss_history_list {
    max-height: 220px;
}

.bss_history_item {
    text-align: start;
    font-size: 0.9em;
    padding: 3px 8px;
    height: 24px;
    line-height: 24px;
}

/* todo: use text-overflow: elippsis here */
/*.bss_history_item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
}*/

.bss_history_item .material-icons {
    font-size: 22px;
    cursor: pointer;
/*    border: 1px solid #333;*/
    margin-inline-start: 10px;
}

.share_dialog .link_share_container {
    padding: 5px;
}

.share_dialog .link_share_container textarea.link_share {
    width: 100%;
    height: 200px;
    margin: 0 !important;
    box-sizing: border-box;
}

.bible_sos .sos_item .verses {
    float: inline-end;
    cursor: pointer;
    display: inline-block;
    max-width: 70%;
    font-size: 0.8em;
    text-align: end;
}

.bible_start .start_item {
    padding: 5px 2px;
}

.bible_start .start_item .num {
    float: inline-start;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    text-align: end;
    width: 22px;
    margin-inline-end: 5px;
}

.bible_start .start_item .verses {
    float: inline-start;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 0.8em;
    text-align: start;
}

.bible_start .start_item .desc {
    float: inline-end;
    display: inline-block;
    max-width: 80%;
    text-align: end;
    font-size: 0.9em;
}

.bible_download h4 {
    margin-top: 0;
}
.bible_download h5 {
    margin-bottom: 0;
}

.bible_download .bss_dialog_content {
    height: 290px;
    overflow-y: auto;
    padding: 0 15px 15px;
}

.bible_download .bss_dialog_buttons {
    padding-top: 8px;
}

.bible_download .render_list {
    text-align: start;
}

.bible_download .render_list .name {
    display: inline-block;
    float: inline-start;
    text-align: start;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bible_download .render_list .status {
    display: inline-block;
    float: inline-end;
    text-align: end;
}

.bible_download .render_list .status .success {
    color: green;
}

.bible_download .render_list .status .error {
    color: red;
}

.bible_download .render_list .render_item:nth-child(odd) {
    background-color: #ddd;
}

.bible_download .bss_pseudo_select_toggle {
    height: 100px;
}

.clear-both, .clear_both, .bss_clear_both {
    clear: both;
}

.bss_float_left {
    float: inline-start;  /* RTL */
}

.bss_float_left {
    float: inline-end; /* RTL */
}

.bss_center {
    text-align: center;
}

.biblesupersearch_bible_selector option.label {
    background-color: transparent;
    font-weight: bold;
    color: black;
}

.biblesupersearch_dialog .bss_dialog_container {
    opacity: 1;
    background-color: white; 
}

/* Print dialog specific formatting */
.biblesupersearch_print .biblesupersearch_nav_buttons, .biblesupersearch_print .html_nav_buttons {
    display:none;
}

.checkbox_container .element {
    display: inline;
}

.checkbox_container label {
    white-space: normal;
}

.biblesupersearch_copy_settings .settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: .85em;
}

.biblesupersearch_copy_settings .presets {
    display: inline-block;
}

.biblesupersearch_copy_settings .presets_container {
    text-align: center;
    margin-bottom: 10px;
}

.biblesupersearch_copy_settings .presets_container .label {
    padding: 1px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
}

.biblesupersearch_copy_settings .section {
    float: left;
    margin: 7px;
    background-color: #eeeeee;
    padding: 10px;
}

.biblesupersearch_copy_settings .section .header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.link_dialog .bss_dialog_content {
    padding: 20px;
}

.link_dialog .copy-link-containr input {
    max-width: 300px;
    width: 90%;
    font-size: 10px;
    padding: 2px;
    height:  11px;
}

.link_dialog .copy-link-containr button {
    font-size: 10px;
    padding: 0px;
    height: 17px;
}

.biblesupersearch_context_help {
    position: relative;
}

div.biblesupersearch_context_help_container {
    position: absolute;
    background-color: yellow;
    z-index: 1000001;
}

div.biblesupersearch_toggle_help {
    padding-left: 26px;
    font-size: 0.7em;
    display: block;
}

span.biblesupersearch_toggle_help {
    padding-left: 26px;
    font-size: 0.8em;
    display: inline;
}

.biblesupersearch_dialog.help_dialog .bss_dialog_container .bss_dialog_title .header h4 {
    padding: 0 5px;
}

tr.bss_render_testament_row th {
    padding-top: 15px;
}

tr.bss_render_reference_row th {
    padding-top: 15px;
    padding-bottom: 15px;
}

.biblesupersearch_strongs_view {
    max-height: 300px;
    overflow-y: auto;
}

.biblesupersearch_strongs_body {
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
}

.biblesupersearch_render_table {
    z-index: 1001;
}

.bss_side_swipe_button_container {
/*    background-color: transparent;*/
/*        background-color: rgba(0, 0, 0, 0.3); */
    position: fixed;
/*    position: absolute;*/
    z-index: 1002;
    top: 48vh;
/*    top-margin: 48%;*/
/*    width: 50%;*/
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none; 
}

.bss_side_swipe_button_container.fadein {
    opacity: 1;
}

.bss_side_swipe_button {
    width: 30px;
    height: 30px;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #dddddd;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto; 
    line-height: initial;
}

.bss_side_swipe_button:hover {
    background-color: rgba(10, 10, 10, 1); 
    color: white;
}

.bss_bookmark_edit_dialog .bss_dialog_content {
    overflow-y: hidden;
}

.bss_bookmark_edit_dialog input {
    width: 90%;
    max-width: 350px;
}

.bss_generic_table, .bss_shortcuts_table {
    width: 99%;
}

.bss_generic_table tbody tr:nth-child(even), .bss_shortcuts_table tbody tr:nth-child(even) {
    background-color: #ddd;
}

.bss_generic_table tr td, .bss_shortcuts_table tr td {
    text-align: start;
    padding: 3px;
}

.biblesupersearch_main input.bss_readonly {
    background-color: #ccc;
}

.bss_clickable {
    cursor: pointer;
}

.bss_bible_info_container {
    text-align: justify;
    padding: 0 15px;
}

.bss_results_list {
    max-width: 98%;
    height: 100px;
    overflow-y: auto;
    background-color: #ddd;
/*    background: linear-gradient(135deg,#0ff 0,#0ff 94%,#fff 95%);
    scrollbar-width: thin;*/
    margin: 15px auto;
    border: 1px solid #111;
    padding: 7px 10px;
    position: relative;
    resize: both;
}

.bss_results_list_container {
    display: inline-block;
    width: 200px;
}

.bss_results_list_item {
    font-size: 0.8em;
    margin-right: 5px;
    margin-bottom: 3px;
    display: inline-block;
    width: 50px;
}


a.bss_results_list_item_visited {
    color: purple;
    font-weight: bold;
}

.bss_results_list_item_showing {
    font-weight: bold;
/*    background-color: #fff;*/
}