/* HTML format Buttons */

.bss_format_buttons_html {
    margin: 13px 0;
}

.bss_format_buttons_html_narrow {
    max-width: 450px;
}

.bss_format_buttons_html .bss_item {
    display: inline-block;
    margin: 2px;
    border: 1px solid #909090;
    background-color: #eae99f;
    cursor: pointer;
    padding: 1px 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
    border-radius: 3px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;  
    -moz-box-sizing: content-box;    
    -ms-box-sizing: content-box; 
}

.bss_format_buttons_html .bss_item:hover, .bss_format_buttons_html .bss_item.bss_selected {
    background-color: #d1cf45;
}

.bss_format_buttons_html .bss_item.bss_size_reg span {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    display: inline-block;
    height: 14px;
}

.bss_format_buttons_html .bss_item.bss_font span {
    padding-top: 1px;
    display: inline-block;
}

.bss_format_buttons_html .bss_item.bss_font_serif span {
    padding-top: 2px;
    font-family: serif;
}

.bss_format_buttons_html .bss_item.bss_font_sans_serif span {
    font-family: sans-serif;
}

.bss_format_buttons_html .bss_item.bss_font_monospace span {
    font-family: monospace;
}

.bss_format_buttons_html .bss_item.bss_paragraph_toggle {
    width: 36px;
    overflow: hidden;
}

.bss_format_buttons_html .bss_item.bss_renderstyle.bss_paragraph {
    width: 36px;
    text-align: center;
}

.bss_format_buttons_html .bss_item.bss_language {
    overflow: visible;
}

.bss_format_buttons_html .bss_item.bss_language .bss_pseudo_select {
    width: 150px;
    background-color: transparent;
}

/* OLD */
.bss_format_buttons_html .bss_item.bss_language select {
    border: 0;
}

/*@import "https://fonts.bss_googleapis.bss_com/icon?family=Material+Icons+Outlined";*/

.bss-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers.bss_ */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome.bss_ */
  text-rendering: optimizeLegibility;

  /* Support for Firefox.bss_ */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE.bss_ */
  font-feature-settings: 'liga';
}

/* for use within small <button> elements */
.bss-material-icons-small-button {
    font-size: 13px;
}

.bss_format_buttons_html .bss_item .bss_icon {
    font-size: 18px;
    line-height: 18px;
}

.bss_format_buttons_html .bss_item img.bss_icon {
    height: 18px;
}

.bss_format_buttons_html .bss_item {
    /*color:  green;*/
}

.bss_format_buttons_html .bss_item.bss_paragraph_toggle .bss_true span, 
.bss_format_buttons_html .bss_item.bss_copy_toggle .bss_true span, 
.bss_format_buttons_html .bss_item.bss_copy_toggle .bss_false span,  
.bss_format_buttons_html .bss_item.bss_single_verse_toggle .bss_true span, 
.bss_format_buttons_html .bss_item.bss_single_verse_toggle .bss_false span,
.bss_format_buttons_html .bss_item.bss_renderstyle.bss_verse span,
.bss_format_buttons_html .bss_item.bss_renderstyle.bss_verse_passage span,
.bss_format_buttons_html .bss_item.bss_renderstyle.bss_passage span
{
    height: 4px;
    display: block;
    text-align: start;
    position: relative;
    top: -6px;
    white-space: nowrap;
}

.bss_button_group {
    white-space: nowrap;
    display: inline-block;
}

.bss_format_buttons_html .bss_item.bss_copy_toggle.bss_is_false span span {
    background-color: #3390ff;
    position: initial;
    line-height: 4px;
}

.bss_format_buttons_html .bss_item.bss_copy_toggle_new {
    width: 36px;
}

.bss_format_buttons_html .bss_item.bss_copy_toggle {
    width: 40px;
}

.bss_format_buttons_html .bss_item.bss_copy_toggle .bss_false {
    background-color: #3390ff;
    color: white;
}

.bss_format_buttons_html .bss_item.bss_copy_toggle span.bss_buttons {
    font-size: 8px;
    top: -1px;
}

.bss_format_buttons_html .bss_item.bss_single_verse_toggle.bss_is_false span span {
    /*background-color: #3390ff;*/
    position: initial;
    line-height: 4px;
}

.bss_format_buttons_html .bss_item.bss_single_verse_toggle {
    width: 40px;
}

.bss_format_buttons_html .bss_item.bss_single_verse_toggle .bss_false {
    /*color: white;*/
}

.bss_format_buttons_html .bss_item.bss_single_verse_toggle span.bss_buttons {
    font-size: 8px;
    top: -1px;
}

.bss_format_buttons_html .bss_item.bss_advanced_toggle {
    min-width: 63px;
}

.bss_format_buttons_html .bss_item.bss_download {
    text-align: center;
    /*width: 76px;*/
}

.bss_format_buttons_html .bss_item.bss_text_only {
    line-height: 18px;
}

.bss_format_buttons_html .bss_item.bss_language {
    line-height: 18px;
    padding: 0 4px 2px;
}

.bss_format_buttons_html .bss_item.bss_language select {
    font-size: 10px;
    background-color: transparent;
}

.bss_format_buttons_html .bss_block_enabled, .bss_format_buttons_html .bss_block_disabled {
    display: inline-block;
    margin-inline-end: 3px;
    height: 11px;
    width: 11px;
    border: 1px solid #222222;
    font-size: 10px;
    line-height: 13px;
    padding: 0;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    top: 2px;
    /*padding-top: -15px;*/
}
    
.bss_format_buttons_html .bss_block_enabled {
    background-color: #43b243;
    color: white;
}

.bss_bible_settings .bss_settings_toggle {
    width: 250px;
    margin: 0 auto 10px;
    text-align: start;
    cursor: pointer;
}

.bss_bible_settings .bss_settings_toggle .bss_icon {
    font-size: 16px;
    /*background-color: blue;*/
    color: green;
    position: relative;
    top: 2px;
}

.bss_bible_settings .bss_settings_container {
    width: 250px;
    margin: 0 auto 10px;
    text-align: start;
    cursor: pointer;
}

.bss_bible_settings .bss_settings_container label {
    margin-inline-start: 5px;
    cursor: pointer;
}

.bss_bible_settings .bss_section .bss_header {
    /*font-weight: bold;*/
    text-decoration: underline;
    margin-bottom: 4px;
}

/*.bss_format_buttons_html .bss_selected {
    background-color: #c7b72c;
}
*/

.bss_html_nav_buttons {
    text-align: center;
    margin: 15px 0;
}

/* HTML Nav Buttons */
.bss_html_nav_buttons a {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 3px;
    line-height: 29px;
    border: 1px solid #656565;
    background-color: #a7c9f9;
}

.bss_html_nav_buttons a.bss_styleable {
    font-size: 18px !important;
/*    font-size: 16px !important;*/
    font-family: 'Free Sans';
}

.bss_html_nav_buttons a.bss-material-icons {
    font-size: 24px !important;
}

.bss_html_nav_buttons a.bss_active:link, .bss_html_nav_buttons a.bss_active:visited {
    text-decoration: none;
    color: #444444;
}

.bss_html_nav_buttons a.bss_active:hover  {
    background-color: #6fa7f7;
}

.bss_html_nav_buttons a.bss_inactive {
    background-color: #dddddd;
    /*background-color: transparent;*/
}

.bss_html_nav_buttons a.bss_inactive:hover {
    /* don't do anything, link is inactive */
    background-color: #dddddd;
    text-decoration: none;
    /*background-color: transparent;*/
}

.bss_html_nav_buttons a {
    text-decoration: none;
}

.biblesupersearch_copy_settings .bss_presets button {
    margin: 0 3px;
}

.biblesupersearch_copy_settings .bss_presets button.bss_active {
    background-color: #444444;
    color: white;
}

.biblesupersearch_copy_settings .bss_section {
    font-size: 12px;
    min-width: 140px;
}

.biblesupersearch_copy_settings .bss_section label {
    margin-inline-start: 7px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    div.bss_copy_toggle span.bss_false {
        padding-top: 6px;
        display: inline-block;
    }
}