/* Styles for classic apparence */

/* Body of form */
.biblesupersearch_main.interface_classic {
    min-height: 100px;
    /*max-height: 80vh;*/
    overflow-y: auto;
}

.biblesupersearch_classic_form {
    margin-left:auto;
    margin-right:auto; 
    padding:5px; 
    background-color:tan;
    margin-bottom: 20px;
}

.biblesupersearch_classic_form.user_friendly {
    max-width:400px;
}

/* Title - appears at TOP of page, ie Bible SuperSearch */
.biblesupersearch_classic_title {
    font-size:18.0pt; 
    color: darkorange; 
    text-align: center;
}

.biblesupersearch_center_element {
    text-align: center;
}

.biblesupersearch_classic_form input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}

.biblesupersearch_classic_form button.user_friendly_random {
    /*width: 110px;*/
    width: 120px;
    /*font-size: 70%;*/
    /*font-size: 0.7em;*/
    text-align: center;
}

.biblesupersearch_classic_form select.biblesupersearch_bible_selector_multi {
    
}

.biblesupersearch_main.interface_classic .biblesupersearch_error_view {
    max-width: 800px;
}

.biblesupersearch_pager {
    margin: 15px auto;
}

.interface_classic a:link, .interface_classic a:visited {
    color: #0000ee;
    text-decoration: none;
}

.interface_classic a:hover {
    text-decoration: underline overline;
}

.interface_classic .biblesupersearch_pager a {
    margin: 0 3px;
    text-decoration: none;
    font-weight: bold;
}

.interface_classic .biblesupersearch_pager a:hover {
    background-color: #0000ee;
    color: darkorange;
    text-decoration: none;
}

.interface_classic .biblesupersearch_pager a.current_page {
    font-weight: bold;
    color: darkorange;
    background-color: transparent;
}

.interface_classic .biblesupersearch_pager a:link, .interface_classic .biblesupersearch_pager a:visited {

}

.interface_classic .format_buttons {
    margin-bottom: 10px;
}

.interface_classic .format_buttons img {
    margin: 0 1px;
}

.biblesupersearch_classic_form.parallel2 .biblesupersearch_bible_selector_multi {
    margin: 2px 0 3px;
}

.biblesupersearch_classic_form.parallel2 button {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}
