/* Styles for classic apparence */

/* Body of form */

.biblesupersearch_classic_form {
    margin-left:auto;
    margin-right:auto; 
    padding:5px; 
    background-color:tan;
    width:400px;
}

/* Title - appears at TOP of page, ie Bible SuperSearch */
.biblesupersearch_classic_title {
    font-size:18.0pt; 
    color: darkorange; 
    text-align: center;
}

.biblesupersearch_center_element {
    text-align: center;
}
