/* Layout CSS */  

div.biblesupersearch_container {
    background-color: #222222;
    min-height: 100px;
    max-height: 700px;
    max-width: 1000px;
    /*position: relative;*/
    /*min-height: 100vh;*/
    /*min-width: 100vw;*/
}

div.biblesupersearch_left_menu {
    background-color: green;
    width: 120px;
/*    max-width: 200px;
    min-width: 120px;*/
/*    position: absolute;*/
}

div.biblesupersearch_top_menu {
    background-color: tan;
    height: 20px;
}

div.biblesupersearch_content {
    background-color: #D1D1D1;
    position: relative;
    height: 100%;
    /*min-height: 300px;*/
/*    text-align: center;*/
    overflow-y: scroll;
    min-width: 100px;
}

.biblesupersearch_layout_button {
    cursor: pointer;
}

.biblesupersearch_top_label {
    text-align: center;
}

.biblesupersearch_results_overflow {
    /*position: relative;*/
    /*height: calc(100% + 20px);*/
    height: 100%;
}

.biblesupersearch_bible_selector {

}

.biblesupersearch_bible_selector_multi {
    margin-right: 5px;
}

.biblesupersearch_center_element {
    margin-right: auto;
    margin-left: auto;
}
