.bss_interface_minimal .bss_form {
    margin: 0 auto 40px;
    text-align: center;
}

.bss_interface_minimal .bss_form .bss_single_line, .bss_interface_minimal .bss_form .bss_single_line_bible {
    width: 100%; 
    max-width: 520px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.bss_interface_minimal .bss_form .bss_single_line input, 
.bss_interface_minimal .bss_form .bss_single_line .bss_pseudo_input {
    width: calc(~"100% - 40px"); 
}

.bss_interface_minimal .bss_form .bss_single_line button {
    overflow: hidden;
    text-align: center;
}

.bss_interface_minimal .bss_form .bss_single_line span, .bss_interface_minimal .bss_form .bss_single_line_bible span, .bss_interface_minimal .bss_form .bss_single_line_short_bible span {
    white-space: nowrap;
}

.bss_interface_minimal .bss_form .bss_single_line_bible input.bss_request,
.bss_interface_minimal .bss_form .bss_single_line_bible .bss_pseudo_input.bss_request input 
{
    width: 100%;
    max-width: 200px;
}

.bss_interface_minimal_wide .bss_form .bss_single_line_bible input.bss_request,
.bss_interface_minimal_wide .bss_form .bss_single_line_bible .bss_pseudo_input.bss_request input {
    width: 100%;
    max-width: 320px;
}

.bss_interface_minimal_wide .bss_form .bss_bible_selector {
    margin-inline-end: 15px;
    margin-inline-start: 15px;
}

.bss_interface_minimal_wide .bss_form .bss_single_line, .bss_interface_minimal_wide .bss_form .bss_single_line_bible {
    max-width: 1000px;
}

.bss_interface_minimal .bss_form .bss_single_line_bible input.biblesupersearch_bible_selector {
    /*width: calc(40% - 35px); */
}

.bss_interface_minimal .bss_form .bss_single_line_bible button {
    overflow: hidden;
    text-align: center;
}

.bss_interface_minimal_wide .bss_form .bss_single_line_bible button {
    width: initial !important; 
    margin-inline-start: 15px;
    text-align: center;
}

.bss_interface_minimal .bss_form .bss_single_line_short_bible input.bss_request,
.bss_interface_minimal .bss_form .bss_single_line_short_bible .bss_pseudo_input.bss_request input
 {
    width: 100%;
    max-width: 340px;
}

.bss_interface_minimal .bss_form .bss_single_line_short_bible input.biblesupersearch_bible_selector {
    /*width: calc(40% - 35px); */
}

.bss_interface_minimal .bss_form .bss_single_line_short_bible button {
    /*max-width: 50px;*/
    overflow: hidden;
    text-align: center;
}

.bss_interface_minimal a:link, .bss_interface_minimal a:visited {
    color: #0c17b2;
    text-decoration: none;
}

.bss_interface_minimal a:hover {
    text-decoration: underline overline;
}

.bss_interface_minimal .biblesupersearch_pager a {
    margin: 0 5px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

/* Weird bugfix -- move to layouts.bss_css?? */
.bss_interface_minimal .biblesupersearch_pager a:after, .bss_interface_minimal .biblesupersearch_pager a:before {
    display:none;
}

.bss_interface_minimal .biblesupersearch_pager a:hover {
    text-decoration: underline overline;
    background-color: #c4caff;
}

.bss_interface_minimal .biblesupersearch_pager a.bss_current_page, .bss_interface_minimal .bss_results_list_item_showing {
    font-weight: bold;
    color: #ff8c00;
    background-color: transparent;
}

.bss_interface_minimal .bss_form .bss_single_line_go {
    margin-bottom: 20px;
    text-align: center;
    width: 100%; 
    max-width: 500px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.bss_interface_minimal .bss_form .bss_single_line_go input,
.bss_interface_minimal .bss_form .bss_single_line_go .bss_pseudo_input input,
 {
    width: 90%; 
    max-width: 500px;
}

.bss_interface_minimal .bss_form .bss_single_line_go input.bss_max_wide, 
.bss_interface_minimal .bss_form .bss_single_line_go .bss_pseudo_input.bss_max_wide input {
    width: 98%; 
}

.bss_interface_minimal .bss_form .bss_single_line_go button {
    margin: 0 10px;
}

.bss_interface_minimal .bss_strongs_hover {
    padding: 10px;
    border: 1px solid #333;
    background-color: white;
}

.bss_interface_minimal .bss_strongs_hover .bss_strongs_head {
    text-align: center;
}

.bss_interface_minimal .bss_strongs_hover .bss_hebrew .bss_strongs_head span {
    font-weight: bold;
    font-size: 20pt;
    font-family: serif;
    padding-top: 5px;
}

.bss_interface_minimal .bss_strongs_hover .bss_greek .bss_strongs_head span {
    font-weight: bold;
    font-size: 16pt;
    padding-top: 10px;
    font-family: serif;
}
