







.bss_pseudo_select {
	position: relative;
	display: inline-block;

	height: 17px;
	background-color: white;
	border: 1px solid #999999;
	font-size: 13px;
	cursor: default;
}

.bss_pseudo_select_toggle {
	position: absolute;
	background-color: white;
	margin-top: 0;
	width: 100%;
	text-align: left;
	z-index: 1000001;
	border: 1px solid #aaaaaa;
}

.bss_pseudo_select_placeholder {
	display: inline-block;
	float: left;
	text-align: left
}

.bss_pseudo_select_button {
	display: inline-block;
	float: right;
	padding-right: 3px;
	font-size: 12px;
}

.bss_pseudo_option_show .bss_pseudo_select_visable {
	background-color: #dddddd;
}

.bss_pseudo_option {

}

.bss_pseudo_option:hover {
	background-color: #333333;
	color: white;
}
