/* Universal styling */
/* May be overridden at the interface level */

sup.strongs {
    cursor: pointer;
}

a.strongs:link, a.strongs:visited, a.strongs:hover {
    color: black;
    text-decoration: none;
}

b a.strongs {
    font-size: 1.1em;
    font-weight: 800;
}

span.red_letter {
    color: red;
}

.random_verse_widget {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: orange;
}

.random_verse_widget div {
    width: 100%;
    height: 60px;
    overflow-y: auto;
    text-align: justify;
    padding: 3px;
    margin-top: 5px;
    font-size: .9em;
}

.random_verse_widget h2 {
    text-align: center;
    font-size: 1em;
}

.random_verse_widget button {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: .7em;
    display: block;
}

/* Cross-browser formatting */

/* TODO - FINISH THIS! */
div.biblesupersearch_main select, div.biblesupersearch_main input.enyo-input {
    background-color: white;
    border: 1px solid #767676;
    /*border: 2px solid green;*/
}

/* NOTE: CAN CAUSE ISSUES WITH WP PLUGIN */
/*div.biblesupersearch_main button, div.biblesupersearch_main input[type=button] {
    background-color: #efefef;
    border: 1px solid #767676;
    border-radius: 2px;
}
*/

/*div.biblesupersearch_main button:hover, div.biblesupersearch_main input[type=button]:hover {
    background-color: #aaaaaa;
}
*/

div.biblesupersearch_main optgroup {
    font-style: normal;
}

div.biblesupersearch_main option:hover {
    background-color: blue;
    color: white;
}

/* End Cross-browser formatting */