.random_verse_widget {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    width: 20vw;
    margin-right: auto;
    margin-left: auto;
    background-color: orange;
}

.random_verse_widget div {
    width: 100%;
    height: 5vh;
    overflow-y: auto;
    text-align: justify;
    margin-top: 5px;
    font-size: 2vh;
}

.random_verse_widget h2 {
    text-align: center;
    font-size: 3vh;
}

.random_verse_widget button {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 2.5vh;
    display: block;
}